server {
    listen 80;
    server_name {{ domain }};
    
    location / {
        proxy_pass https://domain/;
        proxy_set_header Host            $host;
        proxy_set_header X-Forwarded-For $remote_addr;
    }
}

server {
    listen 443 ssl;
    server_name example.com;

    ssl on;
    ssl_certificate {{ cert }};
    ssl_certificate_key {{ key }};


    location / {
        proxy_pass https://alb.cloud-practices.com;
        proxy_set_header Host            $host;
        proxy_set_header X-Forwarded-For $remote_addr;
    }
}
